pandas>=1.4.0, <2.2.3
numpy<2.0.0
tqdm==4.67.1
matplotlib==3.10.1
tomotopy==0.13.0
wordcloud==1.9.4
bertopic==0.17.0
cuml-cu12==25.4.0
setuptools==79.0.0
tf-keras
sentence-transformers==4.1.0
parallel_pandas==0.6.5
